xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/pruebaDB1/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/pruebaDB1/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="prueba2">
<part name="parameters" element="tns:prueba2"/>
</message>
<message name="prueba2Response">
<part name="parameters" element="tns:prueba2Response"/>
</message>
<message name="checkUsuario">
<part name="parameters" element="tns:checkUsuario"/>
</message>
<message name="checkUsuarioResponse">
<part name="parameters" element="tns:checkUsuarioResponse"/>
</message>
<message name="conexion1">
<part name="parameters" element="tns:conexion1"/>
</message>
<message name="conexion1Response">
<part name="parameters" element="tns:conexion1Response"/>
</message>
<portType name="NewWebService">
<operation name="hello">
<input wsam:Action="http://servicio/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://servicio/NewWebService/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://servicio/NewWebService/getUsuarioResponse" message="tns:getUsuarioResponse"/>
</operation>
<operation name="prueba2">
<input wsam:Action="http://servicio/NewWebService/prueba2Request" message="tns:prueba2"/>
<output wsam:Action="http://servicio/NewWebService/prueba2Response" message="tns:prueba2Response"/>
</operation>
<operation name="checkUsuario">
<input wsam:Action="http://servicio/NewWebService/checkUsuarioRequest" message="tns:checkUsuario"/>
<output wsam:Action="http://servicio/NewWebService/checkUsuarioResponse" message="tns:checkUsuarioResponse"/>
</operation>
<operation name="conexion1">
<input wsam:Action="http://servicio/NewWebService/conexion1Request" message="tns:conexion1"/>
<output wsam:Action="http://servicio/NewWebService/conexion1Response" message="tns:conexion1Response"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prueba2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conexion1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/pruebaDB1/NewWebService"/>
</port>
</service>
</definitions>